@charset "UTF-8";

@use "../_base/variable" as var;
@use "sass:map";

@mixin mq-up($breakpoint: md) {
    @media #{map.get(var.$breakpoints-up, $breakpoint)} {
        @content;
    }
}

@mixin mq-down($breakpoint: md) {
    @media #{map.get(var.$breakpoints-down, $breakpoint)} {
        @content;
    }
}

@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
